<!doctype html>
<html lang="{{doc.locale}}">
<head>
  <meta charset="utf-8">
  <title>Suzuna and Shuhei — 飯塚修平・草間涼菜 結婚式</title>
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport">
  <link rel="stylesheet" href="{{g.static('/dist/main.min.css').url.path}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <style>{% include "/views/font-face.tpl" %}</style>
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-30923853-8', 'auto');
    ga('require', 'outboundLinkTracker');
    ga('send', 'pageview');
  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <script async src="/static/js/autotrack.js"></script>
</head>
<body>
  <header class="header">
    <span class="header__logo"><img src="/static/images/logo-small.svg" alt="Suzuna and Shuhei"></span>
    <a class="header__cta button" href="{{doc.form_url}}">出欠登録はこちら</a>
  </header>
  <main>
    {% block main %}
      {{doc.html|safe}}
    {% endblock %}
  </main>
  <footer class="footer">
    <p>Suzuna and Shuhei Wedding</p>
    <p>©2018 Shuhei Iitsuka (<a href="https://tushuhei.com">tushuhei.com</a>)</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
  <script src="/static/js/cookies.js"></script>
  <script>
    var heroElement = document.querySelector('.hero');
    var headerElement = document.querySelector('.header');
    if (docCookies.getItem('loaded')) {
      heroElement.classList.add('loaded');
    } else {
      new Vivus('sslogo', {duration: 200}, function() {
	heroElement.classList.add('loaded');
	docCookies.setItem('loaded', true);
      });
    }
    window.addEventListener('scroll', function(e) {
      var heroBottom = heroElement.getBoundingClientRect()['bottom'];
      if (heroBottom > 0) {
        headerElement.classList.remove('active');
      } else {
        headerElement.classList.add('active');
      }
    });
  </script>
</body>
</html>
