{% extends "/views/base.html" %}

{% block main %}
<div class="hero">
  <div class="hero__image"></div>
  <h1 class="hero__logo">{% include "source/images/logo.svg" %}</h1>
</div>
<div class="section section--darker section--center">
  <div class="section__page section__page--narrow">
    <p>
    <span class="ww"><span class="ww">このたび</span><span class="ww">私たちは</span><span class="ww">結婚式を</span><span class="ww">挙げる</span><span class="ww">ことになりました</span></span>
    <span class="ww"><span class="ww">つきましては</span> <span class="ww">日頃</span><span class="ww">お世話に</span><span class="ww">なって</span><span class="ww">いる</span><span class="ww">皆さまに</span> <span class="ww">私たちの</span><span class="ww">門出を</span><span class="ww">見守って</span><span class="ww">いただきたく</span> <span class="ww">ささやかですが</span><span class="ww">小宴を</span><span class="ww">もうけました</span></span>
    <span class="ww"><span class="ww">おいそがしい中</span><span class="ww">誠に</span><span class="ww">恐縮ですが</span> <span class="ww">ご出席</span><span class="ww">くださいますよう</span><span class="ww">ご案内</span><span class="ww">申し上げます</span></span>
    </p>
    <p>
      飯塚 修平・涼菜
    </p>
  </div>
</div>
<section class="section">
  <img class="section__media" alt="自由学園明日館" sizes="(max-width: 1024px) 100vw, 50vw"
  src="https://lh3.googleusercontent.com/QyD9US29AGRaMv-La4vA-xcj6jf_f7nz9h4G09vsX9Rz7aihna4kzcitaQiDsCLqSlogZJd_Lq8qcA1hRdrXz06y=rj"
  srcset="https://lh3.googleusercontent.com/QyD9US29AGRaMv-La4vA-xcj6jf_f7nz9h4G09vsX9Rz7aihna4kzcitaQiDsCLqSlogZJd_Lq8qcA1hRdrXz06y=w600-rj 600w,
          https://lh3.googleusercontent.com/QyD9US29AGRaMv-La4vA-xcj6jf_f7nz9h4G09vsX9Rz7aihna4kzcitaQiDsCLqSlogZJd_Lq8qcA1hRdrXz06y=w1200-rj 1200w,
          https://lh3.googleusercontent.com/QyD9US29AGRaMv-La4vA-xcj6jf_f7nz9h4G09vsX9Rz7aihna4kzcitaQiDsCLqSlogZJd_Lq8qcA1hRdrXz06y=w1600-rj 1600w,
          https://lh3.googleusercontent.com/QyD9US29AGRaMv-La4vA-xcj6jf_f7nz9h4G09vsX9Rz7aihna4kzcitaQiDsCLqSlogZJd_Lq8qcA1hRdrXz06y=w2400-rj 2400w">
  <div class="section__page section__page--notop-m">
    <div class="section__content section__content--half">
      <h2 class="section__eyeblow">会場</h2>
      <h3 class="section__heading">自由学園 明日館</h3>
      <p>
        〒171-0021 東京都豊島区西池袋 2-31-3
        <br>
        ウェディングデスク
        TEL 03-5952-8877
      </p>
      <p>
        池袋駅メトロポリタンプラザより徒歩５分
        <br>
        目白駅より徒歩７分
      </p>
      <a class="button" href="https://goo.gl/maps/Zoqn2YpZwv52">Google Map で見る</a>
    </div>
  </div>
</section>
<section class="section section--darker section--center">
  <div class="section__page">
    <h2 class="section__eyeblow">日時</h2>
    <h3 class="section__heading">2018 年 3 月 18 日</h3>
    <p>
    受付　午前 10 時 30 分
    <br>
    挙式　午前 11 時
    <br>
    披露宴　午前 12 時
    </p>
  </div>
</section>
<section class="section">
  <img class="section__hero-media" alt="飯塚修平と飯塚涼菜" sizes="100vw"
  src="https://lh3.googleusercontent.com/Cju5Aj4x-yS6P_zHr7khBtT-FD9rLYnrJrCBM0ou8kv9VTJCWNFZ0FBL6DzTekJ4lBz4ZWqj1IcMFK6lHF3zFeg=rj"
  srcset="https://lh3.googleusercontent.com/Cju5Aj4x-yS6P_zHr7khBtT-FD9rLYnrJrCBM0ou8kv9VTJCWNFZ0FBL6DzTekJ4lBz4ZWqj1IcMFK6lHF3zFeg=w600-rj 600w,
          https://lh3.googleusercontent.com/Cju5Aj4x-yS6P_zHr7khBtT-FD9rLYnrJrCBM0ou8kv9VTJCWNFZ0FBL6DzTekJ4lBz4ZWqj1IcMFK6lHF3zFeg=w1200-rj 1200w,
          https://lh3.googleusercontent.com/Cju5Aj4x-yS6P_zHr7khBtT-FD9rLYnrJrCBM0ou8kv9VTJCWNFZ0FBL6DzTekJ4lBz4ZWqj1IcMFK6lHF3zFeg=w1600-rj 1600w,
          https://lh3.googleusercontent.com/Cju5Aj4x-yS6P_zHr7khBtT-FD9rLYnrJrCBM0ou8kv9VTJCWNFZ0FBL6DzTekJ4lBz4ZWqj1IcMFK6lHF3zFeg=w2400-rj 2400w">
  <div class="section__page section__page--notop-m">
    <div class="section__content">
      <h2 class="section__eyeblow">プロフィール</h2>
    </div>
    <div class="section__content--half">
      <h3 class="section__heading">飯塚 修平</h3>
      <p>
      茨城県土浦市生まれ。茗渓学園高等学校卒業後、東京大学に入学し、プログラミングとウェブの世界に出会う。
      東京大学工学部松尾豊研究室にてウェブマイニング・ウェブサイト最適化の研究に従事した後、2014 年 Google 合同会社に入社。
      UX (User Experience) エンジニアとして、より良いユーザ体験を提供するウェブサイトの開発に取り組む。
      同時に社会人として博士課程に入学し、2017 年に博士（工学）を取得。
      </p>
    </div><div class="section__content--half">
      <h3 class="section__heading">草間 涼菜</h3>
      <p>
      茨城県結城郡八千代町生まれ。茗渓学園高等学校卒業後、
      北里大学に入学し、眼科の検査技師である視能訓練士の資格を取得。
      2012 年東邦大学医療センター大森病院に入職。主に小児眼科を専門とし、
      臨床の中で心身に障害のある子ども達により良い医療を提供できる為の方法を模索する日々を過ごす。
      その答えを求め、社会人学生として筑波大学大学院へ入学し 2017 年に修士（リハビリテーション学）を取得。
      </p>
    </div>
  </div>
</section>
<section class="section section--invert section--center">
  <div class="section__page section__page--narrow">
    <h2 class="section__heading">出席登録</h2>
    <p>
    <span class="ww">招待状を</span><span class="ww">受け取られました</span><span class="ww">皆さまにおきましては、</span><span class="ww">下記</span><span class="ww">登録</span><span class="ww">フォームから</span><span class="ww">出席の</span><span class="ww">可否の</span><span class="ww">ご返事を</span><span class="ww">お願い</span><span class="ww">して</span><span class="ww">おります。 </span><span class="ww">誠に</span><span class="ww">勝手ながら、</span><span class="ww">2 月 </span><span class="ww">15 日までに</span><span class="ww">ご返事を</span><span class="ww">いただけますと</span><span class="ww">幸いに</span><span class="ww">存じます。 </span><span class="ww">すでに</span><span class="ww">お葉書にて</span><span class="ww">お返事を</span><span class="ww">頂いた</span><span class="ww">方に</span><span class="ww">つきましては、</span><span class="ww">フォームの</span><span class="ww">入力は</span><span class="ww">結構です。</span>
    </p>
    <a href="{{doc.form_url}}" class="button button--invert">出席登録フォーム</a>
  </div>
</section>
<section class="section section--darker section--center">
  <div class="section__page">
    <div class="section__content">
      <div class="photo-tiles">
        <img class="photo-tiles__item" alt=""
             src="https://lh3.googleusercontent.com/Ugk3-LMXtYxlEkRUUUCm5PvnLCBEJH_3zIgXyWlwiYXFND2NMoE75gtYZY4mE6rwQQE0594g2EwsMGTfQTIkRsh1dg=rj"
             srcset="https://lh3.googleusercontent.com/Ugk3-LMXtYxlEkRUUUCm5PvnLCBEJH_3zIgXyWlwiYXFND2NMoE75gtYZY4mE6rwQQE0594g2EwsMGTfQTIkRsh1dg=w335-rj 1x,
                     https://lh3.googleusercontent.com/Ugk3-LMXtYxlEkRUUUCm5PvnLCBEJH_3zIgXyWlwiYXFND2NMoE75gtYZY4mE6rwQQE0594g2EwsMGTfQTIkRsh1dg=w670-rj 2x">
        <img class="photo-tiles__item" alt=""
             src="https://lh3.googleusercontent.com/IgO5ppThZLrQAbhr5DZlKBSGatq6CQFrEKN0z8iDe4PzZVp_s4VDDuJ7wvqgwCWfCcHsAS5MOJNyaEsC3mxNiaE=rj"
             srcset="https://lh3.googleusercontent.com/IgO5ppThZLrQAbhr5DZlKBSGatq6CQFrEKN0z8iDe4PzZVp_s4VDDuJ7wvqgwCWfCcHsAS5MOJNyaEsC3mxNiaE=w335-rj 1x,
                     https://lh3.googleusercontent.com/IgO5ppThZLrQAbhr5DZlKBSGatq6CQFrEKN0z8iDe4PzZVp_s4VDDuJ7wvqgwCWfCcHsAS5MOJNyaEsC3mxNiaE=w670-rj 2x">
        <img class="photo-tiles__item" alt=""
             src="https://lh3.googleusercontent.com/F8_hCuT5unA3XBqn_YCrVq0MNDjx_dSrstBu9BLcZVA3DKd6f8_4QaaYNoBR91BPNgy_t6Y5qpGewQa0c_fl4cw=rj"
             srcset="https://lh3.googleusercontent.com/F8_hCuT5unA3XBqn_YCrVq0MNDjx_dSrstBu9BLcZVA3DKd6f8_4QaaYNoBR91BPNgy_t6Y5qpGewQa0c_fl4cw=w335-rj 1x,
                     https://lh3.googleusercontent.com/F8_hCuT5unA3XBqn_YCrVq0MNDjx_dSrstBu9BLcZVA3DKd6f8_4QaaYNoBR91BPNgy_t6Y5qpGewQa0c_fl4cw=w670-rj 2x">
      </div>
    </div>
    <div class="section__content section__content--narrow section__content--liftup">
      <h2 class="section__heading">写真アルバム</h2>
      <p>
        <span class="ww">和装にて</span><span class="ww">事前に</span><span class="ww">撮影した</span><span class="ww">写真と、</span><span class="ww">結婚式</span><span class="ww">当日の</span><span class="ww">様子を</span><span class="ww">収めた</span><span class="ww">写真を</span><span class="ww">こちらの</span><span class="ww">アルバムにて</span><span class="ww">共有</span><span class="ww">させて</span><span class="ww">いただく</span><span class="ww">予定です。</span><span class="ww">ぜひ</span><span class="ww">ご覧</span><span class="ww">くださいませ。</span>
      </p>
      <a class="button" href="{{doc.album_url}}">アルバムを見る</a>
    </div>
  </div>
</section>
<div class="section section--center">
  <div class="section__page section__page--narrow">
    <p>
      <span class="ww">それでは</span><span class="ww">当日、</span><span class="ww">みなさまに</span><span class="ww">お会い</span><span class="ww">出来る</span><span class="ww">ことを</span><span class="ww">楽しみに</span><span class="ww">して</span><span class="ww">おります。 </span><span class="ww">式に際して</span><span class="ww">ご不明な</span><span class="ww">点が</span><span class="ww">ございましたら、</span><span class="ww">下記</span><span class="ww">アドレスまで</span><span class="ww">お気軽に</span><span class="ww">ご連絡</span><span class="ww">ください。</span>
    </p>
    <p>
    飯塚 修平 <a href="mailto:tushuhei@gmail.com">tushuhei@gmail.com</a>
    </p>
  </div>
</div>

{% endblock %}
