{% extends "/views/base.html" %}

{% block main %}

<section class="section" id="profile">
  <div class="section__page">
    <div class="profile">
      {% for profile in doc.profiles %}
        <div class="profile__item">
          <img class="profile__image" src="{{profile.image}}">
          <h3 class="profile__name">{{profile.name}}</h3>
          <p class="profile__content">{{profile.content}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section" id="tree">
  <div class="section__page">
    <div class="commits">
      <div class="commit">
        <div class="commit__thread">
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--cyan">
            <use xlink:href="#init"></use></svg>
        </div>
        <div class="commit__content">
          <div class="commit__thumbnail"></div>
          <h3 class="commit__title">〇〇に生まれる</h3>
          <p class="commit__body">内容です。</p>
        </div>
      </div>
      <div class="commit">
        <div class="commit__thread">
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--cyan">
            <use xlink:href="#pass"></use></svg>
        </div>
        <div class="commit__thread">
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--magenta">
            <use xlink:href="#init"></use></svg>
        </div>
        <div class="commit__content">
          <div class="commit__thumbnail"></div>
          <h3 class="commit__title">〇〇に生まれる</h3>
          <p class="commit__body">内容です。</p>
        </div>
      </div>
      <div class="commit">
        <div class="commit__thread">
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--cyan">
            <use xlink:href="#pass"></use></svg>
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--magenta">
            <use xlink:href="#cross"></use></svg>
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--yellow">
            <use xlink:href="#init"></use></svg>
        </div>
        <div class="commit__thread">
          <svg viewBox="0 0 50 100" class="commit__graph commit__graph--magenta">
            <use xlink:href="#curve"></use></svg>
        </div>
        <div class="commit__content">
          <div class="commit__thumbnail"></div>
          <h3 class="commit__title">〇〇に生まれる</h3>
          <p class="commit__body">内容です。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<svg style="display:none">
  <symbol id="init">
    <line x1="50%" y1="50%" x2="50%" y2="100%" stroke-width="5"></line>
    <circle cx="50%" cy="50%" r="10" fill="#fff" stroke-width="5"></circle>
  </symbol>
  <symbol id="pass">
    <line x1="50%" y1="0%" x2="50%" y2="100%" stroke-width="5"></line>
  </symbol>
  <symbol id="curve">
    <path fill="none" d="M 25,0 A 25,50 0 0 1 0,50" stroke-width="5"></path>
  </symbol>
  <symbol id="cross">
    <line x1="100%" y1="50%" x2="50%" y2="50%" stroke-width="5"></line>
  </symbol>
</svg>
{% endblock %}
