.hero {
  background-image: url(https://lh3.googleusercontent.com/K2qNz5FnPGpuRE7XkXOUQMEarhYzvS-t-tRYk_V7I4UGRKH7Ih4kqpDdlUL1iDbF1Vd3AHCvQTBBO1jCbBX-2yPgRQ);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: 80vh;
  width: 100%;

  &__container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: $background-color;
    transition: background 1s;
  }

  .logo {
    width: 60%;
    max-width: 250px;
    stroke: $color-gold;
    transition: stroke 1s;
  }

  &--loaded {
    .hero__container {
      background-color: rgba(255, 255, 255, 0);
    }

    .logo {
      stroke: #fff;
    }
  }
}
