.hero {
  background: $base-color;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1) inset;
  height: 70vh;
  max-height: 500px;
  width: 100%;
  display: table;

  &__container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__image {
    width: 60%;
    max-width: 250px;
  }
}
