.giant-card {
  @media only screen and (min-width : $bp-m) {
    height: 500px;
  }

  &__media {
    object-fit: cover;
    width: 100%;
    display: block;
    height: 400px;

    @media only screen and (min-width : $bp-m) {
      float: left;
      height: 100%;
      width: 70%;

      &--alt {
        float: right;
      }
    }
  }

  &__content {
    background: $main-color;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    padding: 30px 30px 80px 30px;
    width: 100%;

    &--alt {
      background: $accent-color;
    }

    @media only screen and (min-width : $bp-m) {
      height: 100%;
      padding: 30px;
      width: 30%;
    }
  }
}
