$bar-thickness: 5px;
$box-size: 25px;

.menu-icon {
  display: inline-block;
  box-sizing: border-box;
  height: $box-size;
  position: relative;
  text-align: center;
  width: $box-size;
  z-index: 1000;

  &__bar {
    background: #777;
    border-radius: $bar-thickness / 2;
    height: $bar-thickness;
    left: 0;
    position: absolute;
    transition: all 0.3s;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: calc(50% - #{$bar-thickness / 2});
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &--active {
    .menu-icon__bar:nth-child(1) {
      top: calc(50% - #{$bar-thickness / 2});
      transform: rotate(-45deg);
    }

    .menu-icon__bar:nth-child(2) {
      width: 0;
      left: 50%;
    }

    .menu-icon__bar:nth-child(3) {
      top: calc(50% - #{$bar-thickness / 2});
      transform: rotate(45deg);
    }
  }

}
