$graph-width: 30px;
$graph-width-desktop: 80px;


.commit {
  align-items: top;
  display: flex;
  width: 100%;

  &__thread {
    flex: 0 0 $graph-width;
    position: relative;

    @media only screen and (min-width : $bp-m) {
      flex: 0 0 $graph-width-desktop;
    }
  }

  &__graph {
    display: block;
    height: $graph-width;
    position: absolute;
    stroke: currentColor;
    stroke-width: 3;
    width: 100%;

    @media only screen and (min-width : $bp-m) {
      stroke-width: 5;
      height: $graph-width-desktop;
    }

    &--ext {
      margin-top: $graph-width;
      height: calc(100% - #{$graph-width});

      @media only screen and (min-width : $bp-m) {
        margin-top: $graph-width-desktop;
        height: calc(100% - #{$graph-width-desktop});
      }
    }

    &--1 {
      color: $color-green;
    }

    &--2 {
      color: $color-purple;
    }

    &--3 {
      color: $color-red;
    }
  }

  &__date {
    color: $color-gray;
  }

  &__title {
    margin: 0;
  }

  &__image {
    width: 100%;
  }

  &__body {
    margin: 0.5em 0;
  }

  &__content {
    padding-bottom: 50px;
  }
}
