.commit {
  display: flex;
  width: 100%;
  align-items: center;

  &__thread {
    height: 80px;
    flex: 0 0 40px;
    position: relative;

    @media only screen and (min-width : $bp-m) {
      flex: 0 0 80px;
      height: 160px;
    }
  }

  &__graph {
    display: block;
    height: 100%;
    stroke: currentColor;
    width: 100%;
    position: absolute;

    &--1 {
      color: $color-green;
    }

    &--2 {
      color: $color-purple;
    }

    &--3 {
      color: $color-red;
    }

  }

  &__date {
    color: $color-gray;
  }

  &__title {
    margin: 0;
  }

  &__image {
    float: left;
    width: 50px;
    border-radius: 25px;
    margin-right: 20px;

    @media only screen and (min-width : $bp-m) {
      width: 100px;
      border-radius: 50px;
    }
  }

  &__body {
    margin: 0.5em 0;
  }
}
