.commit {
  display: flex;
  width: 100%;
  align-items: center;

  &__thread {
    width: 100px;
    height: 200px;
    position: relative;
  }

  &__graph {
    display: block;
    height: 100%;
    stroke: currentColor;
    width: 100%;
    position: absolute;

    &--cyan {
      color: #0ff;
    }

    &--yellow {
      color: #ff0;
    }

    &--magenta {
      color: #f0f;
    }
  }
}
