.hero {
  background: $background-color-darker;
  height: 90vh;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 30% 80%;
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/TItCwf9yFmCzdNZFH1-iDdjrwuMBTKjljuRLwt4-6qKe25Z_QTWOJ6qVaoHVKTw4S8oz2LrhjlP2S9CDoLU5VbERlQzlLNMlsOuaNJHehrHbKbv5KhlcVnz-pCIyqJwAo62H57tiPCHpfDnMa92Engq_oYVudP5pUkHXUAfbN9S4y7FZA3TdZKaF0M2qmuDV4Ue1MeMSdZN2No7uqS40qyC_XAWpisnqrUTXc1uoDkn3gIv4Mf6w4e1BVY0OgUUY3hS3dNnuK1XKtun_OLKOQC-iteu0SV82p9aGODXH_yNzQAybZQ1fawIYa0QtBxBG8tlVJ_VIbo9r7LTC_tsjyFxi2-DDw3PYjhyD9d4IY-UHbZSo_LfOTAoEVoIXd94oJBb73GRmevUKHk7ot0oef0c7SxCni32VxK1c0MCIW6oj--Oi4j6s0VbnZE7wHg-4Zv5RQ9MkM0VEz6NWWFasHmV8XWsLqMhVDTeGNr8B-kzQfdTCieRF50vYYE4xkgJBMyWrGWKANyYEg2Tk3_AnUTfUYQ2yDW3f-JA6W3hNoWMvF2vLTrocbFvbz-vrlNKoetwNxGsis-UZV4RGOVI8CVG4HZem-XNuC7EINFBCPverTXDxTjKa4tuTXNtOUq0qEGb7GIyzDIAdG2qaYSj5sdUCZcz3OVrYoaso=w1400-no);
    opacity: 0;

    .loaded & {
      transition: opacity 0.6s ease;
      opacity: 1;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 180px;
  }

  &__logo svg {
    transition: stroke 0.6s ease;
    stroke: $color-logo;
  }

  .loaded &__logo svg {
    stroke: #fff;
  }
}
