@import "../../node_modules/normalize.scss/normalize.scss";
@import "vars";

body {
  background: $background-color;
  color: $color-black;
  font-family: $font-family-sans;
  font-weight: 300;
}

@import "menu-icon/menu-icon";
@import "header/header";
@import "hero/hero";
@import "footer/footer";
@import "section/section";
@import "giant-card/giant-card";
@import "commit/commit";
@import "profile/profile";
@import "abstract/abstract";
