.profile {
  &__title {
    text-align: center;

    @media only screen and (min-width : $bp-m) {
      text-align: left;
    }

    svg {
      width: 240px;
      padding: 20px;
      stroke: $color-gold;
    }
  }

  &__name {
    margin: 0;
  }

  &__content {
    margin: 0;
  }

  &__item {
    box-sizing: border-box;
    padding: 20px 0 60px;
    text-align: left;

    @media only screen and (min-width : $bp-m) {
      padding: 20px;
      display: inline-block;
      width: 49%;
    }
  }

  &__image {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    width: 100%;
  }
}
